<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Proyecto1</title>
  <link href="https://file.myfontastic.com/ScbYPiiaveVsbicQNPW2nK/icons.css" rel="stylesheet">
      <link rel="stylesheet" href="css/Stylehome.css">
</head>
<body>
  <section class='photo_container'>
  <section class='photo_header'>
   <img src="https://scontent-mia3-2.cdninstagram.com/t51.2885-19/s150x150/21577210_349591088797016_6637045393806852096_n.jpg"
 class='photo_user'>
  <h3
  class='photo_username'> majovargas1</h3>
</section>
<section class='photo_image'>
   <img src='https://scontent-mia3-2.cdninstagram.com/t51.2885-15/sh0.08/e35/p640x640/22159285_134256793888315_5173102011394031616_n.jpg 640w,https://scontent-mia3-2.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/22159285_134256793888315_5173102011394031616_n.jpg 750w,https://scontent-mia3-2.cdninstagram.com/t51.2885-15/e35/22159285_134256793888315_5173102011394031616_n.jpg'>
 </section>
  <section class=' photo_icons'>
    <i class="icon-heart"></i>
    <i class="icon-comments"></i>
    <i class="icon-angellist"></i>
  </section>
  <h6 class='photo_likes'><span>43,294</span> me gusta </h6>
  <section class='photo_comment'> <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eos numquam eum similique.</div>
  </section>
</section>
</body>
</html>
