<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="Css/Stylehome.css">
    <meta charset="utf-8">
    <title>Inicio</title>

  </head>
  <body>
    <center>
      <div class="navbar">
        <a id="mano" href=index.html"><i class="material-icons">pan_tool</i></a>
        <a id="lupa" href=index.html"><i class="material-icons">search</i></a>
        <a id="home" href=index.html"><i class="material-icons">home</i></a>
      </div>
      <hr>
      <div class="texto">
!!bienvenido¡¡¡¡ <br>
      </div>
      <div class="texto1">
        Como estas?
      </div>
<a href="index.html">soy un link</a><br>
<br><br>
<a href=index.html"><img src="imagenes/imagen.jpeg" class="soyclase"></a> <br>
<a href=index.html"><img src="imagenes/imagen.jpeg" id=soyid ></a> <br>
<br><br>
  </center>
  <body>
</html>
