@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.photo_container {
  width: 500px;
  background: white;
  border: 1px solid black;
}

.photo_container .photo_header {
  display: flex;
}

.photo_container .photo_user {
  padding: 10px;
  border-radius: 50%;
}

.photo_container .photo_image img {
  width: 100%;
  display: block;
}

.photo_container .photo_icons {
  padding: 10px;
  font-size: 1.5rem;
  padding-bottom: 0;
}

[class^="icon-"] {
  padding: 5px;
}

.photo_container .photo_likes {
  margin: 0;
  padding: 0 10px 10px 10px;
  font-size: 0.85rem;
}

.photo_container .photo_comment {
  padding: 10px;
  padding-top: 0;
  font-size: 0.9rem;
}
